@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --titulo: #ffff;
    --fundoheader: #000;
    --fundobody: #ffff;
    --fundoprojetos: #2941AB;


    --fonttitle: 'Ubuntu', sans-serif , arial;
    --fontp: 'Open Sans', sans-serif , monospace , arial
}
body{
    background-color: var(--fundobody);
}
header{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--fundoheader);
    padding: 10px;
    flex-direction: row;
    justify-content:space-around;
}
#esq{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 1000px;
}
#perfil{
    border-radius: 100%;
    height: 80px;
}
.headernav{
    text-decoration: none;
    color:var(--titulo);
    margin-left: 1.5rem;
}
.headernav:hover{
    color: rgba(255, 255, 255, 0.582);
    text-decoration: underline;
}
header nav:hover{
    color: #0000;
}
header h1{
    font-family: var(--fonttitle);
    color:var(--titulo);
    font-variant: small-caps;
    letter-spacing: 2px;
}
main{
    margin: auto;
    margin-top: 50px;
    padding: 1vw;
    text-align:justify;
    max-width: 30rem;
    margin-bottom: 50px;
    background-color: #374b4a2c;
}
main h1{
    font-family: var(--fonttitle);  
    text-align: center;
}
main h2{
    font-family: var(--fonttitle);
    font-variant: small-caps;
    color: #000000;
    text-align: center;
}
main p{
    margin-top: 10px;
    text-indent: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}
section{
    background-color: var(--fundoprojetos);
    margin-top: 10vw;
    border: solid 2px rgba(0, 0, 0, 0.37);
    
}
section h1{
    text-align: center;
    padding: 30px;
    font-family: var(--fonttitle);
    color: #1ed760;
}
#projects{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 20px 0px 20px;
    padding-bottom: 50px;

}
.automacao p{
    padding-bottom: 20px;
    font-family: var(--fontp);
    font-size:20px;
    color: #000;
}
.automacao{
    width: 300px;
    padding: 10px;
    text-align: center;
    transition: 200ms;
}
.title{
    color: var(--titulo);
}
.automacao:hover{
    transform: translateY(-10px);
}
.imgproj{
    border-radius: 10px;
    height: 250px;
    width: 250px;
    background-size: cover;
}
.skill{
    margin: 0px;
    border: solid 2px rgba(0, 0, 0, 0.37);
}
.aling{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.box{
    padding: 5px 0px 30px 0px;
    text-align: center;

}
.box p{
    margin-bottom: 10px;
    font-family: var(--fontp);
    font-size: larger;
}
.box img{
    height: 10vw;
}
.box button{
    margin-top: 10px;
    height: 3rem;
    width: 4rem;
    border-radius: 10px;
    transition: 200ms;
    font-size:large;
}
button:hover{
    transform:translate(10px);
}
footer{
    background-color:var(--fundoheader);
    padding: 15px;
    text-align: center;
    color:#ffff
}
footer a{
    color: #ffff;
}
footer a:hover{
    text-decoration: underline;
}