.box-about{
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
}
.box-about img {
    border-radius: 10px 10px 10px 0;
    height: 15rem;
}

@media (max-width:900px) {
    .box-about img {
        display: none;
    }
}
.about-paragraph{
    border: 2px solid #1C77C3;
    border-radius: 8px 8px;
    max-width: 50rem;
    padding: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.about-paragraph p {
    text-indent: 12px;
    text-align: left;
}
.curriculum{
    display: flex;
    justify-content: center;
}
.curriculum button{
    border: none;
    outline: none;
    background-color: #E54B4B;
    padding: 1.6rem;
    border-radius: 12px;
    width: 12rem;
    color: #fff;
    margin: 3rem 0 5rem 0;
    transition: 0.2s ease-in;
}
.curriculum button:hover{
    transform: translateY(0) scale(1.01);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}