#logo{
    width: 50px;
    border-radius: 100%;
    margin-left: 10px;
  }

.navbar-toggler{
    border: none;
    outline: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
