*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
section{
  height: 100%;
}
.default-h1{
  text-align: center;
  font-family: 'Alkatra', cursive;
  font-size: 2.5rem;
}
.title-word {
  animation: color-animation 4s infinite ease-in;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #B4E33D;
  --color-3: #17494D;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #1C77C3;
  --color-3: #E54B4B;

}

.title-word-3 {
  --color-1: #1C77C3;
  --color-2: #FBAF00;
  --color-3: #5EEB5B;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

@keyframes shimmy {
  0% {
    transform: translate(0, 0);    
  }
  100% {
    transform: translate(20px, 50px);
  }
}
@media (max-width: 750px) {
  .hello{
    margin: 2.5rem auto 0 auto;
    text-align: center;
  }
  .work{
    display: none;
  }
}
.to-top {
  background: #25283D;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:32px;
  color:#fff;
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
  z-index: 2;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:1;
}