.carousel{
    margin: 2rem 0 5rem 0;
    width: 100%;
    
}
.carousel-caption{
    background-color: rgba(22, 22, 21, 0.897);
    padding: 2rem;
    border-radius: 8px
}
.carousel-caption h5, .carousel-caption p{
    color: #fff;
}
.carousel-inner .carousel-item img {
    max-width: 100%;
    height: auto;
}
  .carousel-inner{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
