.qualification{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    height: 18rem;
    width: 15rem;
    margin-bottom:3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 2px solid #1C77C3;
    margin: 2rem 2rem;
}
.card-body p{
    font-size: 1rem;
    font-family:sans-serif;
    text-align: left;
    margin: 0;
}
.card-body span {
    font-size: 0.8rem;
    color: #E54B4B;
}
.card-body a{
    position: absolute;
    bottom: 8%;
}
.see-more{
    display: none;
}
.certificate button{
    color: #ffffff;
    display: block;
    margin: auto;
    margin-bottom: 4rem;
}
.certificate button:hover{
    background-color: #31d2f21c;
}
.off{
    display: none;
}