.container-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 5rem;
    flex-wrap: wrap;
}
.container-skills img{
    height: 4rem;
    user-select: none;
}
.skills{
    border: 2px solid #E54B4B;
    padding: 2rem 4rem;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.3s ease-in-out;
}
.skills:hover{
    transform: scale(1.05);
}